*{
    margin: 0%;
    padding: 0%;
}

.bg-of-nav{
    background-image: linear-gradient(90deg, rgb(84, 48, 105), rgb(74, 64, 133));
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}
.logo:hover{
    font-size: 25px;
    color: whitesmoke;
}
.section-1{
    background-image: linear-gradient(45deg, rgb(148, 71, 63), rgb(116, 47, 116));
    padding: 30px 0 30px 0;
}
.image-class{
    text-align: center;
}
.image-class img{
    height: 30%;
}